<ion-content>
  <div class="container-center">
    <form [formGroup]="registerForm">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="4" class="ion-align-self-center">
            <ion-img
              src="../../../assets/img/log-login.png"
              alt="imagen de usuario"
            ></ion-img>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{ "EMAIL" | translate }}</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>{{ "PASSWORD" | translate }}</ion-label>
              <ion-input
                formControlName="password1"
                type="password"
              ></ion-input>
            </ion-item>
            <ion-item class="ion-margin-bottom">
              <ion-label>{{ "PASSWORD" | translate }}</ion-label>
              <ion-input
                formControlName="password2"
                type="password"
              ></ion-input>
            </ion-item>
            <ion-label
              color="danger"
              *ngIf="registerForm.hasError('notSame')"
              >{{ "ALERT_ERROR_PASS_NOMACH" | translate }}</ion-label
            >
            <ion-button
              class="ion-margin-bottom"
              expand="block"
              color="success"
              type="submit"
              (click)="register()"
            >
              <ion-icon slot="start" name="save"></ion-icon>
              {{ "SAVE" | translate }}
            </ion-button>
            <ion-button
              expand="block"
              color="primary"
              fill="outline"
              routerLink="../login"
            >
              {{ "ACCOUNTOK" | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
