$bg-form-color: #3f51b5;
$white-color: #ffff;

.container-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: 25%;
  margin-left: 25%;
}

@media (max-width: 350px) {
  .container-center {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
