<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="/"
        [text]="'BACK' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{ titleHeader | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isLogged" routerLink="/auth">
        <ion-icon color="primary" slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-label>{{ user?.name }}</ion-label>
      <ion-button *ngIf="isLogged" (click)="logout()">
        <ion-icon
          color="danger"
          slot="icon-only"
          name="person-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
