<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="/"
        [text]="'BACK' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{ titleHeader | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/auth">
        <ion-icon
          [color]="isPublic ? 'danger' : 'primary'"
          slot="icon-only"
          [name]="isPublic ? 'person-outline' : 'person'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
